
{% extends "base.html"%}
{% block content %}
    <div>
        <table class="table" style="margin:auto; width: 100%">
            <thead>
                <tr>
                <th> 气球信息 </th>
                <th style="width: 150px"> 是否已经发放 </th>
                </tr>
            </thead>
            <tbody>
                {% for send_balloon in send_balloon_list %}
                    {% if send_balloon.is_sent %}
                    <tr style="background-color:#D7EBFF">
                        <td> 给 {{ send_balloon.team_name }}({{ send_balloon.team_location }}) 送 {{ BALLOON_COLOR[send_balloon.problem_id] }}色 气球 </td>
                        <td> 是 </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td> 给 {{ send_balloon.team_name }}({{ send_balloon.team_location }}) 送 {{ BALLOON_COLOR[send_balloon.problem_id] }}色 气球 </td>
                        <td><a href={{ url_for('change_status', sid=send_balloon.id_) }}> 否 </a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}