{% extends "base.html" %}
{% block content %}
    {% with message = get_flashed_messages() %}
    {% if message %}
        <h3 class="red"> {{ message[0] }} </h3>
    {% endif %}
    {% endwith %}
    <form action='/login' method="POST">
        <center>
        <label class="label" style="color:black">User Name:</label>
        <input type="text" name="name"></input>
        <br/>
        <label class="label" style="color:black">Password:</label>
        <input type="password" name="password" ></input>
        <br/>
        <button class="btn btn-primary" type="submit"> 登录 </button></center>
    </form>
{% endblock %}