<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<TITLE>
Summary - Programming Contest</TITLE>
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
</HEAD>
<BODY>
<center>
<h1>Programming Contest</h1>
</center>
<TABLE style="width: 100%;max-width: 100%;border-collapse: collapse;border-spacing: 2px;">
<tr style="border-bottom: 3px solid black;height: 42px;">
<th style="font-variant: small-caps;white-space: nowrap;border-right: 1px solid silver;"><strong>Rank</strong></th><th style="font-variant: small-caps;white-space: nowrap;border-right: 1px solid silver;"><strong>Name</strong></th><th style="font-variant: small-caps;white-space: nowrap;border-right: 1px solid silver;"><strong>Solved</strong></th><th style="font-variant: small-caps;white-space: nowrap;border-right: 1px solid silver;"><strong>Time</strong></th><th style="font-variant: small-caps;white-space: nowrap;border-right: 1px solid silver;">&nbsp;&nbsp;&nbsp;&nbsp;<strong>A</strong>&nbsp;&nbsp;&nbsp;&nbsp;</th><th style="font-variant: small-caps;white-space: nowrap;border-right: 1px solid silver;">Total att/solv</th>
</tr>
<tr style="border-bottom: 1px solid black;height: 42px;">
<td style="border-right: 1px solid silver;font-size: small;vertical-align: middle;text-align: center;">1</td><td style="border-right: 1px solid silver;font-size: small;vertical-align: middle;text-align: center;">team1<br>
<span style="font-size: 90%;font-weight: normal;color: dimgrey;">Team ONE from CSUS (not aliasesd)</span></td><td style="border-right: 1px solid silver;font-size: small;vertical-align: middle;text-align: center;">1</td><td style="border-right: 1px solid silver;font-size: small;vertical-align: middle;text-align: center;">0</td><td style="border-right: 1px solid silver;font-size: small;vertical-align: middle;text-align: center;background: #080;color: white !important;font-weight: bold;">1/0</td><td style="border-right: 1px solid silver;font-size: small;vertical-align: middle;text-align: center;">1/1</td>
</tr>
<tr style="border-bottom: 1px solid black;height: 42px;">
<td style="border-right: 1px solid silver;font-size: small;vertical-align: middle;text-align: center;">2</td><td style="border-right: 1px solid silver;font-size: small;vertical-align: middle;text-align: center;">team2<br>
<span style="font-size: 90%;font-weight: normal;color: dimgrey;">team2 (not aliasesd)</span></td><td style="border-right: 1px solid silver;font-size: small;vertical-align: middle;text-align: center;">1</td><td style="border-right: 1px solid silver;font-size: small;vertical-align: middle;text-align: center;">22</td><td style="border-right: 1px solid silver;font-size: small;vertical-align: middle;text-align: center;background: #e1ffb5;">2/2</td><td style="border-right: 1px solid silver;font-size: small;vertical-align: middle;text-align: center;">2/1</td>
</tr>
<tr style="border-top: 3px solid black;height: 42px;border-bottom: 1px solid black;">
<td style="font-variant: small-caps;white-space: nowrap;border-right: 1px solid silver;"></td><td style="font-variant: small-caps;white-space: nowrap;border-right: 1px solid silver;text-align: center;vertical-align: middle;font-size: small;">Submitted/1st Yes/Total Yes</td><td style="font-variant: small-caps;white-space: nowrap;border-right: 1px solid silver;"></td><td style="font-variant: small-caps;white-space: nowrap;border-right: 1px solid silver;"></td><td style="font-size: small;vertical-align: middle;text-align: center;font-variant: small-caps;white-space: nowrap;border-right: 1px solid silver;">3/0/2</td><td style="font-size: small;vertical-align: middle;text-align: center;font-variant: small-caps;white-space: nowrap;border-right: 1px solid silver;">3/2</td>
</tr>
</TABLE>
<p>
Last updated
Thu May 21 16:20:41 CST 2015</p>
</BODY>
</HTML>
